PORT=
EUREKA_HOST=
EUREKA_PORT=
EUREKA_IP=
EUREKA_SERVICE_NAME=

REDIS_HOST=
REDIS_PORT=

GEMINI_API_KEY=
PROXY_API_KEY=

PRODUCT_SERVICE_URL=
CART_SERVICE_URL=
ORDER_SERVICE_URL=
NOTIFICATION_SERVICE_URL=
RECOMMENDATION_SERVICE_URL=
