SERVER_PORT=8084
SPRING_DATASOURCE_URL=jdbc:mariadb://mariadb:3306/cart_db
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
REDIS_HOST=redis
REDIS_PORT=6379
EUREKA_CLIENT_ENABLED=true
EUREKA_SERVER_URL=http://discovery-server:8761/eureka
EUREKA_REGISTER_WITH_EUREKA=true
EUREKA_FETCH_REGISTRY=true
EUREKA_PREFER_IP_ADDRESS=false
EUREKA_INSTANCE_HOSTNAME=cartservice
PRODUCT_SERVICE_URL=http://productservice:8082
