SERVER_PORT=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
EUREKA_CLIENT_ENABLED=
EUREKA_SERVER_URL=
EUREKA_REGISTER_WITH_EUREKA=
EUREKA_FETCH_REGISTRY=
EUREKA_PREFER_IP_ADDRESS=
EUREKA_INSTANCE_HOSTNAME=
SPRING_MAIL_HOST=
SPRING_MAIL_PORT=
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
APP_FRONTEND_URL=
