PORT=8089
SERVICE_NAME=SEARCHSERVICE
SERVICE_HOST=searchservice
SERVICE_IP=127.0.0.1
EUREKA_SERVER_URL=http://discovery-server:8761/eureka
EUREKA_HOST=localhost
EUREKA_PORT=8761
EUREKA_SERVICE_PATH=/eureka/apps/
TYPESENSE_HOST=typesense
TYPESENSE_PORT=8108
TYPESENSE_API_KEY=your-api-key
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
PRODUCT_SERVICE_URL=http://productservice:8082
INTERNAL_SERVICE_TOKEN=your-internal-token
