SERVER_PORT=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
EUREKA_CLIENT_ENABLED=
EUREKA_SERVER_URL=
EUREKA_REGISTER_WITH_EUREKA=
EUREKA_FETCH_REGISTRY=
EUREKA_PREFER_IP_ADDRESS=
EUREKA_INSTANCE_HOSTNAME=
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=admin123
APP_ADMIN_EMAIL=admin@d4c.local
REDIS_HOST=
REDIS_PORT=
NOTIFICATION_SERVICE_URL=